<!DOCTYPE html>
<html @*manifest="manifest.appcache"*@ ng-app="dragonputer">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1.0" />
        <title>glompix - dragonputer</title>

        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap.less")" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/site.less")" />
    </head>
    <body>
        <nav class="app-bar">
            <div class="app-logo">
                <i class="fa fa-lg fa-magic" ></i> Dragonputer 
            </div>
            <div class="user-menu">
                <ul class="user-menu-links">
                    <li><a href="#"><i class="fa fa-user"></i> glompix</a></li>
                </ul>
            </div>
        </nav>
        <div class="character-sheet">
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
        </div>

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.4.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/dragonputer.js")"></script>   
        <script type="text/javascript">
            $(document).ready(function () {
                $('.cs-power-body').hide();
                $('.cs-power-name').click(function (e) {
                    e.preventDefault();
                    $(this).closest('.cs-power-block').children('.cs-power-body').slideToggle();
                });
                var left = 0;
                $('.cs-section').each(function () {
                    $(this).css({ 'left': left });
                    left += $(this).outerWidth();
                });
            });
        </script>
    </body>
</html>