<!DOCTYPE html>
<html @*manifest="manifest.appcache"*@ ng-app="dragonputer">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1.0" />
        <title>glompix - dragonputer</title>

        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap.less")" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/site.less")" />
    </head>
    <body>
        <nav class="app-bar">
            <div class="app-logo">
                <i class="fa fa-lg fa-magic" ></i> Dragonputer 
            </div>
            <div class="user-menu">
                <ul class="user-menu-links">
                    <li><a href="#"><i class="fa fa-user"></i> glompix</a></li>
                    <li><a href="#">Level {{ c.level() }}</a></li>
                </ul>
            </div>
        </nav>
        <form class="character-sheet" ng-controller="CharacterSheetController">
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            <fieldset class="cs-section cs-status">
                <div class="cs-section-header">
                    <h3 class="cs-section-label">Hit Points</h3>
                </div>
                <div class="cs-field-block">
                    <span class="cs-status-current">Current</span>
                    <input class="cs-current-hp-value" type="number" value="62" />
                    <label class="cs-current-hp-label">HP</label>
                    <input class="cs-temp-hp-value" type="number" value="13" />
                    <label class="cs-temp-hp-label">Temp</label>
                </div>
                <div class="cs-header-block">
                    <span class="cs-hp-max-label">Max HP</span>
                    <span class="cs-hp-max-label">Bloodied</span>
                    <span class="cs-hp-max-label">Surges/day</span>
                    <span class="cs-hp-max-label">HP Value</span>
                </div>
                <div class="cs-field-block">
                    <input class="cs-max-hp-value" type="number" value="62" />
                    <input class="cs-bloodied-hp-value" type="number" value="62" />
                    <input class="cs-surges-day-value" type="number" value="62" />
                    <input class="cs-surge-hp-value" type="number" value="62" />
                </div>
                <div class="cs-section-header">
                    <a href="#" id="AddWillPowerButton" class="cs-section-control"><i class="fa fa-plus"></i></a>
                    <h3 class="cs-section-label">Status Effects</h3>
                </div>
                <div class="cs-section-header">
                    <h3 class="cs-section-label">Action Points</h3>
                </div>
            </fieldset>
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
        </form>

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.4.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/character.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/dragonputer.js")"></script>   
        <script type="text/javascript">
            function alignSections() {
                var left = 0;
                $('.cs-section').each(function () {
                    $(this).css({ 'left': left });
                    left += $(this).outerWidth();
                });
            }

            $(document).ready(function () {
                $('.cs-power-body').hide();
                $('.cs-power-name').click(function (e) {
                    e.preventDefault();
                    $(this).closest('.cs-power-block').children('.cs-power-body').slideToggle();
                });
                
                $(window).resize(alignSections);
                alignSections();
                
                $('.character-sheet').scroll(function () {
                    clearTimeout($.data(this, 'scrollTimer'));
                    $.data(this, 'scrollTimer', setTimeout(function () {
                        var $sheet = $('.character-sheet');
                        var $sections = $('.cs-section');
                        var scrollLeft = $sheet.scrollLeft();
                        var runningX = 0;
                        var closestX = 0;
                        var closestDistance = 9000;
                        $sections.each(function (index) {
                            // TODO: Optimization - stop iterating after sign change.
                            var $section = $(this);
                            var distance = Math.abs(runningX - scrollLeft);
                            if (distance < closestDistance) {
                                closestDistance = distance;
                                closestX = runningX;
                            }
                            runningX += $section.outerWidth();
                        });

                        var leftScrollable = runningX - $(window).outerWidth(true);
                        if (scrollLeft >= leftScrollable - 15) { // 15px of buffer to snap to right edge
                            $sheet.scrollLeft(leftScrollable);
                        }
                        else {
                            $sheet.animate({ scrollLeft: closestX }, 250);
                        }
                        console.log("Haven't scrolled in 250ms! Should snap to x " + closestX + '.');
                    }, 150));
                });
            });
        </script>
    </body>
</html>