<!DOCTYPE html>
<html @*manifest="manifest.appcache"*@ ng-app="dragonputer">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1.0" />
        <title>glompix - dragonputer</title>

        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap.less")" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/site.less")" />
    </head>
    <body>
        <nav class="app-bar">
            <div class="app-logo">
                <i class="fa fa-lg fa-magic" ></i> Dragonputer 
            </div>
            <div class="user-menu">
                <ul class="user-menu-links">
                    <li><a href="#"><i class="fa fa-user"></i> glompix</a></li>
                </ul>
            </div>
        </nav>
        <div class="character-sheet">
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
        </div>

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.4.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/dragonputer.js")"></script>   
        <script type="text/javascript">
            $(document).ready(function () {
                $('.cs-power-body').hide();
                $('.cs-power-name').click(function (e) {
                    e.preventDefault();
                    $(this).closest('.cs-power-block').children('.cs-power-body').slideToggle();
                });
                var left = 0;
                $('.cs-section').each(function () {
                    $(this).css({ 'left': left });
                    left += $(this).outerWidth();
                });

                $('.character-sheet').scroll(function () {
                    clearTimeout($.data(this, 'scrollTimer'));
                    $.data(this, 'scrollTimer', setTimeout(function () {
                        var $sheet = $('.character-sheet');
                        var $sections = $('.cs-section');
                        var scrollLeft = $sheet.scrollLeft();
                        var runningX = 0;
                        var closestX = 0;
                        var closestDistance = 9000;
                        $sections.each(function (index) {
                            // TODO: Optimization - stop iterating after sign change.
                            var $section = $(this);
                            var distance = Math.abs(runningX - scrollLeft);
                            if (distance < closestDistance) {
                                closestDistance = distance;
                                closestX = runningX;
                            }
                            runningX += $section.outerWidth();
                        });

                        var leftScrollable = runningX - $(window).outerWidth(true);
                        if (scrollLeft >= leftScrollable - 15) { // 15px of buffer to snap to right edge
                            $sheet.scrollLeft(leftScrollable);
                        }
                        else {
                            $sheet.animate({ scrollLeft: closestX }, 250);
                        }
                        console.log("Haven't scrolled in 250ms! Should snap to x " + closestX + '.');
                    }, 150));
                });
            });
        </script>
    </body>
</html>