<!DOCTYPE html>
<html @*manifest="manifest.appcache"*@ ng-app="dragonputer">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1.0" />
        <title>glompix - dragonputer</title>

        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap.less")" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
        <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/site.less")" />
    </head>
    <body ng-controller="CharacterSheetController">
        <nav class="app-bar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#UserMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="app-logo">
                    <i class="fa fa-lg fa-magic"></i> Dragonputer
                    <small class="app-playing-as">Playing as <strong>{{ c.name }}</strong></small>
                </div>
            </div>
            <div class="user-menu collapse navbar-collapse" id="UserMenu">
                <ul class="user-menu-links">
                    <li ng-hide="loggedIn()"><a class="user-menu-text">Not logged in.</a></li>
                    <li ng-show="loggedIn()"><a class="user-menu-text">Logged in as <i class="fa fa-facebook-square"></i> {{ username() }}</a></li>
                    <li><a ng-class="{ disabled: !canSave() }" ng-click="save()"><i class="fa fa-save"></i> Save</a></li>
                    <li><a ng-click=""><i class="fa fa-cog"></i> Settings</a></li>
                    <li ng-show="loggedIn()"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                    <li ng-hide="loggedIn()"><a ng-click="login()"><i class="fa fa-facebook-square"></i> Log in with Facebook</a></li>
                </ul>
            </div>
        </nav>
        <form class="character-sheet">
            @Html.Partial("_Meta")
            @Html.Partial("_Status")
            @Html.Partial("_Abilities")
            @Html.Partial("_Powers")
        </form>

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.5.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular-local-storage.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/dragonputer.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/character.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/character-service.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/facebook-auth-service.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/character-sheet-controller.js")"></script>
        <script type="text/javascript">
            // Just UI code here... may move later.
            function alignSections() {
                var left = 0;
                $('.cs-section').each(function () {
                    $(this).css({ 'left': left });
                    left += $(this).outerWidth();
                });
            }

            $(document).ready(function () {
                $('.cs-power-body').hide();
                $('.cs-power-name').click(function (e) {
                    e.preventDefault();
                    $(this).closest('.cs-power-block').children('.cs-power-body').slideToggle();
                });

                $(window).resize(alignSections);
                alignSections();

                $('.character-sheet').scroll(function () {
                    clearTimeout($.data(this, 'scrollTimer'));
                    $.data(this, 'scrollTimer', setTimeout(function () {
                        var $sheet = $('.character-sheet');
                        var $sections = $('.cs-section');
                        var scrollLeft = $sheet.scrollLeft();
                        var runningX = 0;
                        var closestX = 0;
                        var closestDistance = 9000;
                        $sections.each(function (index) {
                            // TODO: Optimization - stop iterating after sign change.
                            var $section = $(this);
                            var distance = Math.abs(runningX - scrollLeft);
                            if (distance < closestDistance) {
                                closestDistance = distance;
                                closestX = runningX;
                            }
                            runningX += $section.outerWidth();
                        });

                        var leftScrollable = runningX - $(window).outerWidth(true);
                        if (scrollLeft >= leftScrollable - 15) { // 15px of buffer to snap to right edge
                            $sheet.scrollLeft(leftScrollable);
                        }
                        else {
                            $sheet.animate({ scrollLeft: closestX }, 250);
                        }
                    }, 150));
                });
            });
        </script>
    </body>

</html>