@{
    var enableOfflineSetting = System.Configuration.ConfigurationManager.AppSettings["EnableOffline"];
    var enableOffline = !string.IsNullOrEmpty(enableOfflineSetting) && enableOfflineSetting != "false";
    var enableAnalyticsSetting = System.Configuration.ConfigurationManager.AppSettings["EnableAnalytics"];
    var enableAnalytics = !string.IsNullOrEmpty(enableAnalyticsSetting) && enableAnalyticsSetting != "false";
}

<!DOCTYPE html>
<html @Html.Raw(enableOffline ? @"manifest=""manifest.appcache""" : "") ng-app="dragonputer" ng-controller="CharacterSheetController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1.0" />
    <title>{{ c.data.name }} - dragonputer</title>

    @Styles.Render("~/css/character")
</head>
<body ng-class="{ 'modal-active': $newCharacterForm.show }" cs-background-image="c.data.wallpaper">
    <nav class="app-bar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#UserMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="app-logo">
                <i class="fa fa-lg fa-magic"></i> Dragonputer
                <small class="app-playing-as">Playing as <strong>{{ c.data.name }}</strong></small>
            </div>
        </div>
        <div class="user-menu collapse navbar-collapse" id="UserMenu">
            <ul class="user-menu-links">
                <li ng-hide="loggedIn()"><a class="user-menu-text">Not logged in. Saving locally.</a></li>
                <li ng-show="loggedIn()"><a class="user-menu-text"><i class="fa fa-lg fa-facebook-square"></i> Logged in as {{ username() }}</a></li>
                <li><a ng-class="{ disabled: !canSave() }" ng-click="save()"><i class="fa fa-save"></i> Save</a></li>
                <li ng-show="loggedIn()"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                <li ng-hide="loggedIn()" class="facebook-login"><a ng-click="login()"><i class="fa fa-lg fa-facebook-square"></i> &nbsp; Log in with Facebook</a></li>
            </ul>
        </div>
    </nav>
    <div class="app-modals">
        @Html.Partial("_New")
    </div>
    <div class="character-sheet">
        @Html.Partial("_Meta")
        @Html.Partial("_Status")
        @Html.Partial("_Abilities")
        @Html.Partial("_Powers")
        @Html.Partial("_Skills")
        @Html.Partial("_Items")
        @Html.Partial("_Notes")
    </div>

    @Scripts.Render("~/js/character")

    <script type="text/javascript">
        // Just UI code here... may move later.
        function alignSections() {
            var left = 0;
            $('.cs-section').each(function () {
                $(this).css({ 'left': left });
                left += $(this).outerWidth();
            });
        }

        function adjustTextarea($textArea) {
            $textArea.height(1);
            $textArea.height($textArea.prop('scrollHeight'));
        }

        var mouseDown = 0;
        document.body.onmousedown = function () {
            ++mouseDown;
        }
        document.body.onmouseup = function () {
            --mouseDown;
        }

        $(document).ready(function () {
            FastClick.attach(document.body);

            // Textarea adjustments
            $('textarea')
                .each(function () { adjustTextarea($(this)); })
                .keydown(function () { adjustTextarea($(this)); });
            
            // Collapsable lists
            $('.character-sheet').on('click', '.cs-list-item-name', function (e) {
                e.preventDefault();
                var $item = $(this).closest('.cs-list-item');
                $item.toggleClass('active');
            });

            // Using position: fixed to keep scrolling native, but have to fix up each section's
            // left offset to compensate.
            $(window).resize(alignSections);
            alignSections();

            // Snap to section.
            $('.character-sheet').scroll(function () {
                clearTimeout($.data(this, 'scrollTimer'));
                $.data(this, 'scrollTimer', setTimeout(function () {
                    if (mouseDown)
                        return;

                    var $sheet = $('.character-sheet');
                    var $sections = $('.cs-section');
                    var scrollLeft = $sheet.scrollLeft();
                    var runningX = 0;
                    var closestX = 0;
                    var closestDistance = 9000;
                    $sections.each(function (index) {
                        // TODO: Optimization - stop iterating after sign change.
                        var $section = $(this);
                        var distance = Math.abs(runningX - scrollLeft);
                        if (distance < closestDistance) {
                            closestDistance = distance;
                            closestX = runningX;
                        }
                        runningX += $section.outerWidth();
                    });

                    var leftScrollable = runningX - $(window).outerWidth(true);
                    if (scrollLeft >= leftScrollable - 15) { // 15px of buffer to snap to right edge
                        $sheet.scrollLeft(leftScrollable);
                    }
                    else {
                        $sheet.animate({ scrollLeft: closestX }, 250);
                    }
                }, 150));
            });

            // First section to show isn't the one that's farthest left.
            var $initialSection = $('[data-initial-section]:first');
            if ($initialSection.attr('data-initial-section')) {
                $('.character-sheet').scrollLeft($initialSection[0].offsetLeft);
            }

            // Ctrl+S to save
            $(window).keydown(function (event) {
                switch (event.which) {
                    case 83:
                        if (event.ctrlKey) {
                            angular.element(document).scope().save();
                            event.preventDefault();
                            return false;
                        }
                        break;
                    default:
                        break;
                }
            });
        });
    </script>
    @if (enableAnalytics)
    {
        <script type="text/javascript">
            /* Google Analytics */
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46647694-1', 'azurewebsites.net');
            ga('send', 'pageview');
        </script>
    }
</body>
</html>